extends layout

block content

  #large-header
    if user != null
      h1= title
    else
      h1 Welcome to Fritter!
  if user != null && state == "posts"
    ul
    #post-form
      form(name="post", action="/post", method="post")
        #title-input
          input(type="text", name="title", placeholder="Submit a New Post!", maxlength="34")
        #post-input
          textarea(type="text", name="post", placeholder="Awesome content here!", rows = 20, cols = 80, maxlength="470")
        input(type="submit", value="Submit")


  ul
    each val in posts.length ? posts : [{title: "No posts.", post: "Sorry, there's no content to show you. :(", user: "a"}]
      if val.user != user
        #ptitle
          p= val.title
        #ppost
          p= val.post
        if(val.user.length > 3)
          if user != null
            #pname
              if state == "posts" || state == "postsearch"
                #follow
                  form(name="post", action="/follow", method="post")
                    input(type="hidden", name="followee", value=val.user)
                    input(name="follow",type="submit", value="Follow")
              if state == "feed" || state == "feedsearch"
                #follow
                  form(name="post", action="/unfollow", method="post")
                    input(type="hidden", name="followee", value=val.user)
                    input(name="unfollow",type="submit", value="Unfollow")
              span= "posted by " + val.user

      else
        #pedit
          h4= "You can still edit your post!"
        #inner-post-form
          form(name="post", action="/edit", method="post")
            #title-input
              input(type="text", name="title", value=val.title, maxlength="34")
            #post-input
              textarea(type="text", name="post", rows = 20, cols = 80, maxlength="470")= val.post
            input(type="hidden", name="orig_title", value=val.title)
            input(type="hidden", name="orig_post", value=val.post)
            input(name="submit",type="submit", value="Submit")
          form(name="post", action="/delete", method="post")
            input(type="hidden", name="title", value=val.title)
            input(type="hidden", name="post", value=val.post)
            input(name="delete",type="submit", value="Delete")
  #signout
    if user == null
      a(href="signout") Log in or Sign up!
    else
      a(href="signout") Sign Out

  #anon
    if state == "feed" || state == "feedsearch"
      a(href="posts") Go to General Posts
    if state == "posts" || state == "postsearch"
      a(href="feed") Go to Feed
  if user != null
    #search
      p Search our Content!
      if state == "posts" || state == "postsearch"
        form(name="search", action="/postsearch", method="post")
          input(type="text", name="query", maxlength="20")
          input(name="submitSearch", type="submit", value="Search!")
      if state == "feed" || state == "feedsearch"
        form(name="search", action="/feedsearch", method="post")
          input(type="text", name="query", maxlength="20")
          input(name="submitSearch", type="submit", value="Search!")

    #unsearch
      if state == "postsearch"
        a(href="posts") Return to all Posts
    #unsearch
      if state == "feedsearch"
        a(href="feed") Return to full Feed
