extends layout

block content

  #large-header
    if user != null
      h1= title
    else
      h1 Welcome to Fritter!
  if user != null
    ul
    #post-form
      form(name="post", action="/post", method="post")
        #title-input
          input(type="text", name="title", placeholder="Submit a New Post!")
        #post-input
          textarea(type="text", name="post", placeholder="Awesome content here!", rows = 20, cols = 80)
        input(type="submit", value="Submit")


  ul
    each val in posts.length ? posts : [{title: "No posts.", post: "Sorry, there are no active posts :(", user: "a"}]
      if val.user != user
        #ptitle
          p= val.title
        #ppost
          p= val.post
        if(val.user.length > 3)
          #pname
            div= "posted by " + val.user


      else
        #pedit
          h4= "You can still edit your post!"
        #inner-post-form
          form(name="post", action="/edit", method="post")
            #title-input
              input(type="text", name="title", value=val.title)
            #post-input
              textarea(type="text", name="post", rows = 20, cols = 80)= val.post
            input(type="hidden", name="orig_title", value=val.title)
            input(type="hidden", name="orig_post", value=val.post)
            input(name="submit",type="submit", value="Submit")
          form(name="post", action="/delete", method="post")
            input(type="hidden", name="title", value=val.title)
            input(type="hidden", name="post", value=val.post)
            input(name="delete",type="submit", value="Delete")
  #signout
    if user == null
      a(href="signout") Log in or Sign up!
    else
      a(href="signout") Sign Out
